*.tar.gz

memcached-1.6.17/memcached
memcached-1.6.17/**/*.o
memcached-1.6.17/**/*.Tpo
memcached-1.6.17/**/.deps/
memcached-1.6.17/testapp
memcached-1.6.17/timedrun
memcached-1.6.17/sizes

memcached-1.6.17/**/Makefile
memcached-1.6.17/config.log
memcached-1.6.17/config.status
memcached-1.6.17/config.h
memcached-1.6.17/stamp-h1

**/*.gcno
**/*.gcda
**/*.gcov
